*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
};

@mixin flex ($d, $j, $a) {
    display: $d;
    justify-content: $j;
    align-items: $a;
};

@mixin font ($t, $c){
    font-family: Arial;
    font-size: $t;
    color: $c;
};

.body {
    @include flex(flex, center, center);
    .container {
        @include flex(flex, center, center);
        border: 1px solid black;
        background-color: #1A5276;
        flex-direction: column;
        width: 500px;
        height: 400px;
        margin-bottom: 20px;
        .title {
            @include font(20px, white);
            text-align: center;
            padding-bottom: 10px;
        };
        .titles {
            @include font(20px, #1A5276);
            text-align: center;
            padding-bottom: 10px;
        }
        .caja {
            @include flex(flex, center, center);
            flex-direction: column;
            gap: 20px;
            padding: 25px;
            background-color: #F8C471;
        };
        input {
            height: 25px;
        };
        .tipo {
            height: 25px;
            width: 200px;
        };
        .a {
            @include flex(flex, center, center);
            flex-direction: column;
            .boton {
                height: 50px;
                width: 100px;
                margin: 10px;
            };
        };
        .respuesta {
            @include font(30px, #EF5E27);
            text-align: center;
            padding: 10px;
            font-weight: bold;
        }
    };
};